@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  --ff-lato: "Lato", serif;
  --color-black: #3a3a3a;
  --color-success: #34a853;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* set up the body */
body {
  font-family: var(--ff-lato);
  line-height: 1.5;
}

html,
body,
#__next {
  height: 100%;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.ff-lato {
  font-family: var(--ff-lato);
  color: var(--color-black);
}

.dashboard-card-shadow {
  box-shadow: 0px 48px 100px 0px rgba(17, 12, 46, 0.15);
}

.list-row-shadow {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
}

.radius-80 {
  border-radius: 80px;
}

.text-success {
  color: var(--color-success);
}
